<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="book" class="com.yc.springframework.Book" scope="singleton">
        <property name="bookName" value="平凡的世界"/>
        <property name="author" value="路遥"/>
    </bean>
    <bean id="book2" class="com.yc.springframework.Book2" scope="prototype">
        <property name="bookName" value="平凡的世界"/>
        <property name="author" value="路遥"/>
    </bean>
    <bean id="ditest" class="com.yc.springframework.DITest">
        <property name="book" ref="book"/>
    </bean>

    <bean id="bookService" class="com.yc.springframework.BookService">
        <property name="book" ref="book" />
    </bean>
</beans>